body{

	background:#eee;
	overflow:hidden;
}


#cad-canvas{
	position:absolute;
	left:0px;
	top:0px;
	background:#eee;
	cursor:crosshair;
}

#text-area{
	position:absolute;
	left:5px;
	top:5px;
	height:50px;
	border-radius:8px;
	font-size:18px;
	font-family:mono;
	background:rgba(200,200,200,0.5);
	color:#000;
}

#macro{
	display:none;
	position:absolute;
	left:5px;
	top:80px;
	height: calc(100% - 150px);
	width:250px;
	border-radius:8px;
	font-size:18px;
	font-family:mono;
	background:rgba(200,200,200,0.5);
	color:#000;
}


#runmacro{
	display:none;
	position:absolute;
	left:210px;
	top:80px;
	height: 40px;
	width: 50px;
	border-radius:8px;
	color:#000;
	background:rgba(200,200,200,0.5);
}

#make{
	position:absolute;
	right:5px;
	bottom:5px;	
	width:60px;
	height:50px;
	border-radius:8px;
	background:rgba(200,200,200,0.5);
	color:#000;
}

#clear{
	position:absolute;
	right:5px;
	top:5px;	
	width:60px;
	height:50px;
	border-radius:8px;
	background:rgba(200,200,200,0.5);
	color:#000;
}

#undo{
	position:absolute;
	right:80px;
	top:5px;	
	width:60px;
	height:50px;
	border-radius:8px;
	background:rgba(200,200,200,0.5);
	color:#000;
}

#grid{
	display:none;
	position:absolute;
	left:5px;
	bottom:5px;	
	color:#000;
	font-family:arial;
	font-size:16px;
}

#dro{
	position:absolute;
	left:5px;
	bottom:5px;	
	color:#000;
	font-family:arial;
	font-size:16px;
}


